<div class="d-flex flex-row flex-wrap">
    <div class="card w-25">
        <div class="card-body">
          IELTS Academic
        </div>
    </div>
    <div class="card w-25">
        <div class="card-body">
          IELTS General Training
        </div>
    </div>
    <div class="card w-25">
        <div class="card-body">
          IELTS for UKVI
        </div>
    </div>
    <div class="card w-25">
        <div class="card-body">
          MUET
        </div>
    </div>
    <div class="card w-25">
        <div class="card-body">
          SPM English
        </div>
    </div>
</div>


<div class="flex w-full grid-cols-[repeat(3,1fr)] flex-col items-center gap-6 px-4 md:grid lg:px-0">

    <style>
        .hoverablea:hover {
            background-color: #caccce;
        }
    </style>

    <a href="#ielts"
        class="bg-background-default  hoverablea flex h-[360px] w-full max-w-[384px] flex-col items-center justify-between gap-4 rounded-3xl p-10">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained  w-full">
            <div style="max-width:1216px;display:block"><img alt="" role="presentation" aria-hidden="true"
                    src="res/ielts.png" style="max-width:100%;display:block;position:static" /></div>
            <div aria-hidden="true" data-placeholder-image=""
                style="opacity:1;transition:opacity 500ms linear;position:absolute;top:0;left:0;bottom:0;right:0">
            </div>
            <picture>
                <source src="res/ielts.png" alt="Feature image" />
            </picture>

        </div>
        <div class="flex flex-col gap-2">
            <p class="m-0 text-content-primary self-start text-xl align-middle font-bold">IELTS
                Academic</p>
        </div>
    </a>
    <div
        class="bg-background-default  hoverablea flex h-[360px] w-full max-w-[384px] flex-col items-center justify-between gap-4 rounded-3xl p-10">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained  w-full">
            <div style="max-width:1216px;display:block"><img alt="" role="presentation" aria-hidden="true"
                    src="res/ielts.png" style="max-width:100%;display:block;position:static" /></div>
            <div aria-hidden="true" data-placeholder-image=""
                style="opacity:1;transition:opacity 500ms linear;position:absolute;top:0;left:0;bottom:0;right:0">
            </div>
            <picture>
                <source src="res/ielts.png" alt="Feature image" />
            </picture>

        </div>
        <div class="flex flex-col gap-2">
            <p class="m-0 text-content-primary self-start text-xl align-middle font-bold">IELTS
                General Training</p>
        </div>
    </div>
    <div
        class="bg-background-default  hoverablea flex h-[360px] w-full max-w-[384px] flex-col items-center justify-between gap-4 rounded-3xl p-10">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained  w-full">
            <div style="max-width:1216px;display:block"><img alt="" role="presentation" aria-hidden="true"
                    src="res/ielts.png" style="max-width:100%;display:block;position:static" /></div>
            <div aria-hidden="true" data-placeholder-image=""
                style="opacity:1;transition:opacity 500ms linear;position:absolute;top:0;left:0;bottom:0;right:0">
            </div>
            <picture>
                <source src="res/ielts.png" alt="Feature image" />
            </picture>

        </div>
        <div class="flex flex-col gap-2">
            <p class="m-0 text-content-primary self-start text-xl align-middle font-bold">IELTS
                for UKVI</p>
        </div>
    </div>
    <div
        class="bg-background-default hoverablea flex h-[360px] w-full max-w-[384px] flex-col items-center justify-between gap-4 rounded-3xl p-10">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained  w-full">
            <div style="max-width:1216px;display:block"><img alt="" role="presentation" aria-hidden="true"
                    src="res/muet.png" style="max-width:100%;display:block;position:static" /></div>
            <div aria-hidden="true" data-placeholder-image=""
                style="opacity:1;transition:opacity 500ms linear;position:absolute;top:0;left:0;bottom:0;right:0">
            </div>
            <picture>
                <source src="res/muet.png" alt="Feature image" />
            </picture>

        </div>
        <div class="flex flex-col gap-2">
            <p class="m-0 text-content-primary self-start text-xl align-middle font-bold">MUET
            </p>
        </div>
    </div>
    <div
        class="bg-background-default hoverablea flex h-[360px] w-full max-w-[384px] flex-col items-center justify-between gap-4 rounded-3xl p-10">
        <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained  w-full">
            <div style="max-width:1216px;display:block"><img alt="" role="presentation" aria-hidden="true"
                    src="res/spm.png" style="max-width:100%;display:block;position:static" /></div>
            <div aria-hidden="true" data-placeholder-image=""
                style="opacity:1;transition:opacity 500ms linear;position:absolute;top:0;left:0;bottom:0;right:0">
            </div>
            <picture>
                <source src="res/spm.png" alt="Feature image" />
            </picture>

        </div>
        <div class="flex flex-col gap-2">
            <p class="m-0 text-content-primary self-start text-xl align-middle font-bold">SPM
                English</p>
        </div>
    </div>
</div>