
<h4>Exam Type</h4>
<style>
    .hoverable:hover {
        background-color: #caccce;
        text-decoration: none;
        color: black;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="d-flex flex-row flex-wrap justify-content-evenly p-4 w-75">
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable" style="flex-basis: 30%;">
            <div class="card-body">
                <img src="/img/ielts.png" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
                IELTS Academic
            </div>
        </div>
    </a>
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable" style="flex-basis: 30%;">
            <div class="card-body">
                <img src="/img/ielts.png" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
              IELTS General Training
            </div>
        </div>
    </a>
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable" style="flex-basis: 30%;">
            <div class="card-body">
                <img src="/img/ielts.png" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
                IELTS for UKVI
            </div>
        </div>
    </a>
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable" style="flex-basis: 30%;">
            <div class="card-body">
                <img src="/img/muet.png" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
                MUET
            </div>
        </div>
    </a>
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable" style="flex-basis: 30%;">
            <div class="card-body">
                <img src="/img/spm.png" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
              SPM English
            </div>
        </div>
    </a>
</div>
