
<h2 style="margin-left: 13%;">Task Type</h2>
<style>
    .hoverable:hover {
        background-color: #caccce;
        color: rgb(79, 79, 79);
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="d-flex flex-row flex-wrap text-center m-auto justify-content-evenly p-4 w-75 mb-3">
    <a href="">
        <div class="card rounded-pill p-3 mb-3 hoverable">
            <div class="card-body">
                <img src="/img/writing.webp" alt="Feature image" class="rounded-circle" width="100px" height="100px" />
                Writing Task
            </div>
        </div>
    </a>
    <a href="">
        <div class="card rounded-pill p-3 mb-3 hoverable">
            <div class="card-body">
                <img src="/img/reading.webp" alt="Feature image" class="rounded-circle" width="100px" height="100px" />
              Reading Task
            </div>
        </div>
    </a>
</div>
<div class="bg-light p-4 w-75 m-auto px-5" id="writing-div">
    <form action="/question/writing" method="post">
        <h4>Task 1</h4>
        <p>In Task 1, you are asked to describe some visual information (graph/table/chart/diagram). You need to write 150 words in about 20 minutes.</p>
        <h4>Task 2</h4>
        <p>In Task 2 you are presented with a point of view or argument or problem. You need to write your response in 250 words in about 40 minutes.</p>

        <button class="btn btn-primary my-3">Generate</button>
    </form>
</div>