
<h4>Task Type</h4>
<style>
    .hoverable:hover {
        background-color: #caccce;
        color: rgb(79, 79, 79);
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="d-flex flex-row flex-wrap justify-content-evenly p-4 w-75">
    <a href="question-type">
        <div class="card rounded-pill p-3 mb-5 hoverable">
            <div class="card-body">
                <img src="/img/writing.webp" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
                Writing Task
            </div>
        </div>
    </a>
    <a href="">
        <div class="card rounded-pill p-3 mb-5 hoverable">
            <div class="card-body">
                <img src="/img/reading.webp" alt="Feature image" class="me-4 rounded-circle" width="100px" height="100px" />
              Reading Task
            </div>
        </div>
    </a>
</div>
