<div id="writing">
    <a href="question-type">Back</a>
    <div class="w-75 bg-light m-auto px-4 py-3 rounded-3 mb-5" >
        <%- instruction %>
    </div>

    <div class="bg-light m-auto p-4 rounded-3 fw-bold">
        <div class="d-flex w-100 justify-content-center p-3">
            <div class="bg-background-default flex h-8 w-8 items-center justify-center ">

            </div>
            <div
                class="border d-flex rounded-pill">
                <div
                    class="px-4 py-1 rounded-pill bg-info m-1 btn-essay" style="cursor: pointer;">
                    <p class="m-0 text-nowrap text-sm font-semibold transition-[text] text-content-onBrand">
                        Evaluate My Essay</p>
                </div>
                <div class="px-4 py-1 rounded-pill m-1 btn-essay" data-bs-toggle="modal" data-bs-target="#sampleEssay" style="cursor: pointer;">
                    <p class="m-0 text-content-tertiary text-nowrap text-sm font-semibold transition-[text]">
                        Sample Essay</p>
                </div>
            </div>
        </div>
        <div class="w-100 p-4 ">
            <div id="evaluate-essay" class="w-100 items-center">
                <form id="evaluateForm" action="/writing/getEvaluate">
                    <input type="hidden" name="instruction" value="<%= instruction %>" />
                    <input type="hidden" name="taskType" value="<%= taskType %>" />
                    <textarea
                        class="fs-5 w-100 flex-1 resize-none rounded-lg border-0 bg-transparent outline-none md:min-h-[300px] md:rounded-none md:p-10 md:text-lg"
                        style="min-height: 500px;" autofocus="" placeholder="Enter response..." id="essay2" name="answer" required></textarea>
                    <div class="d-flex w-100 mt-3 justify-content-center">
                        <button id="evaluateAns2" class="btn btn-primary p-3 px-4 rounded-pill">
                            <span id="evaluateLoading" class="d-none">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </span>
                            Evaluate
                        </button>
                        <script src="/js/evaluateAnswer.js" defer></script>
                    </div>
                </form>
            </div>
            <div id="sampleEssay" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Sample answer</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body fs-6 fw-normal" id="answerBox">
                            <%- answer %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light m-auto p-5 rounded-3 fw-normal mt-5 w-100"
        style="width:73%; margin-top: 400px;">
        <p class="m-0 fs-4 fw-bold mb-3">Score and suggestions</p>
        <span id="eva2" class="m-0 text-content-secondary fs-5 leading-7">
            
        </span>
    </div>
</div>